<launch>
    <include file="$(find mobile_base)/launch/mobile_base.launch" />
    
    <group ns="motion_planner">
        <rosparam command="load" file="$(find motion_planner)/params/motion_parameters.yaml" />        
        <node name="motion_planner_node" pkg="motion_planner" type="motion_planner_node" output="screen" />
    </group>
    
</launch>